[user]
	name = Gentile, John
	email = johncgentile17@gmail.com
[credential]
	helper = cache
[push]
	default = simple
[alias]
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
        # execute any shell command @ repo's top-level directory
	exec = "!exec "
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
