[alias]
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	# List you most recently-used branches (https://ses4j.github.io/2020/04/01/git-alias-recent-branches/)
	lb = !git reflog show --pretty=format:'%gs ~ %gd' --date=relative | grep 'checkout:' | grep -oE '[^ ]+ ~ .*' | awk -F~ '!seen[$1]++' | head -n 10 | awk -F' ~ HEAD@{' '{printf(\"  \\033[33m%s: \\033[37m %s\\033[0m\\n\", substr($2, 1, length($2)-1), $1)}'
	# List all untracked and ignored (from .gitignore) files (exec from root of repo)
	lsignore = !git ls-files . --ignored --exclude-standard --others
	# Execute any shell command @ repo's top-level directory
	exec = "!exec "
[apply]
	# Detect whitespace errors when applying a patch
	whitespace = fix
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = auto
[commit]
	# https://help.github.com/articles/signing-commits-using-gpg/
	gpgsign = true
[core]
	# Treat spaces before tabs and all kinds of trailing whitespace as an error
	# [default] trailing-space: looks for spaces at the end of a line
	# [default] space-before-tab: looks for spaces before tabs at the beginning of a line
	whitespace = space-before-tab,-indent-with-non-tab,trailing-space

	# Make `git rebase` safer on macOS
	# More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
	trustctime = false

	# Prevent showing files whose names contain non-ASCII symbols as unversioned
	# http://michael-kuehnel.de/git/2014/11/21/git-mac-osx-and-german-umlaute.html
	precomposeunicode = false

	# Speed up commands involving untracked files such as `git status`
	# https://git-scm.com/docs/git-update-index#_untracked_cache
	untrackedCache = true
        # Exclude some types globally (like `tags` files)
	excludesfile = ~/.glbl_gitignore
[credential]
	helper = cache --timeout=3600
[diff]
	tool = vimdiff
	# Detect copies as well as renames
	renames = copies
# filter to remove Jupyter notebook unnecessary output/metadata before committing:
#  https://stackoverflow.com/a/58004619 & https://stackoverflow.com/a/73218382
# Add '*.ipynb filter=strip-notebook-output' to repo's .gitattributes file to use
# Run `git add --renormalize .` to go through all of your existing notebook files and scrub the outputs
[filter "strip-notebook-output"]
	clean = "jupyter nbconvert --ClearOutputPreprocessor.enabled=True --ClearMetadataPreprocessor.enabled=True --to=notebook --stdin --stdout --log-level=ERROR"
[gpg]
	program = gpg2
[help]
	# Auto correct & execute mistyped commands
	autocorrect = 1
[merge]
	# Include summaries of merged commits in newly created merge commit messages
	log = true
[push]
	# https://git-scm.com/docs/git-config#git-config-pushdefault
	default = simple
	# Make `git push` push relevant annotated tags when pushing branches out
	followTags = true
[user]
	name = John Gentile
	email = johncgentile17@gmail.com
[pull]
	rebase = false
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[tag]
	gpgsign = true
	forceSignAnnotated = true
[includeIf "gitdir:~/src/"]
	# use settings overrides -> https://stackoverflow.com/a/43884702
	path = .gitconfig-jcg
